atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
Django==2.1.1
django-crispy-forms==1.7.2
django-newsletter==0.7
django-phonenumber-field==2.1.0
django-twilio==0.9.3
idna==2.7
ldif3==3.1.1
more-itertools==4.3.0
Pillow==5.2.0
pluggy==0.7.1
postgres==2.2.2
psycopg2-binary==2.7.6.1
py==1.6.0
PyJWT==1.6.4
PySocks==1.6.8
pytest==3.8.0
python-card-me==0.9.3
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.1
six==1.11.0
sorl-thumbnail==12.4.1
surlex==0.2.0
stripe
twilio==6.20.0
unicodecsv==0.14.1
urllib3==1.24.1
