{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}
THANK YOU MAN - REBL
{% endblock %}
{% block content %}
    <div>
        <div class="text-center">
            <br>
            <br>
            <h1 class="text-center my_title"> HELLO</h1>
            <br>
            <br>
            <p>YOUR ORDER NUMBER IS <b>{{ customer_order.id }}</b></p>
            <br>
            <p>
                we have been notified of your order and will begin processing it right away.
                we will shortly send you and email containing the item(s) detail you have just
                recently purchased!
            </p>

        </div>
    </div>
{% endblock %}
