{% extends 'mysite/base.html' %}
{% block content %}




    <section class="intro">
        <div class="inner">
            <div class="content">
                <section class='os-animation' data-os-animation="bounceInUp" animation-delay='0s' >
                    <h1>yo</h1>

                </section>
                <section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay=".2s">
                    <a class="btn" href="{% url 'mysite:home' %}">go</a>

                </section>

            </div>

        </div>

    </section>
{% endblock content %}

